/* static/css/style.css */

/* Reset and general styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Container setup */
.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* Sidebar styles */
.sidebar {
    background-color: #004d4d;
    color: white;
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Fixa a altura da sidebar */
    position: fixed; /* Mantém a sidebar fixa no lado esquerdo */
}

.logo {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    margin-bottom: 15px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
    border-radius: 4px;
}

.menu a:hover {
    background-color: #006666;
}

/* Main content styles */
.main-content {
    margin-left: 250px; /* Cria espaço para a sidebar */
    flex: 1;
    padding: 20px;
    background-color: #f5f5f5;
    overflow-y: auto; /* Permite rolagem no conteúdo principal */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header input {
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    border-radius: 50%;
    margin-left: 10px;
}

/* Dashboard styles */
.dashboard {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Tabela de usuários */
#usuarios-tabela {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#usuarios-tabela th, #usuarios-tabela td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#usuarios-tabela th {
    background-color: #004d4d;
    color: white;
}

#usuarios-tabela tr:hover {
    background-color: #f1f1f1;
}

button {
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#formulario-edicao {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    width: 100%;
    margin-top: 30px;
    border-radius: 5px;
}

#formulario-edicao h2 {
    margin-bottom: 15px;
}

#formulario-edicao label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#formulario-edicao input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#formulario-edicao button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

#formulario-edicao button:hover {
    background-color: #007B9E;
}
